{% extends 'base.html' %}
{% block main %}
<div id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home" href="/"><i class="icon-home"></i> {{INICIO}}</a></li>
                        <li class="breadcrumb-item"><i></i><a class="home" href="">{{PANEL}}</a></li>
                        <li class="breadcrumb-item"><i></i><b>{{lista}}</b></li>

                    </ul>
                </div>
            </div>    
            <div class="row clearfix">
                <div class="col-lg-9 col-md-12" style="display: flex">
                    <div class="card">
                        <div class="header">
                            <h2>{{ titulo }}<small style="font-size: 15px;">{{ titulosmall }}</small></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="btn-group" style="display: flex; justify-content: center;">
                            <a type="button" class="btn btn-primary" aria-expanded="false" href="">
                                NUEVO
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                          <div class="table-responsive">
                            <table id="data_table" class="table table-bordered table-striped table-hover dataTable">
                              <thead class="sorting">
                              <tr>
                                  <th>ACCIONES</th>
                                  <th>NOMBRE</th>
                                  <th>DESCRIPCIÓN</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for objeto in object_list %}
                                <tr>
                                <td>
<!-- Botón de menú desplegable -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="true">
      
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="">Ver</a></li>        
      <li><a class="dropdown-item" href="">Modificar</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="" onclick="{{ELIMINAR}}">Eliminar</a></li>
    </ul>
  </div>
                                </td>
                                <td>{{ objeto.nombre }}</td>
                                <td>{{ objeto.descripcion }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                              </table>
                        </div>
                        </div>
                   </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main %}
{% block java %}
{% include "includes/_datatable.html" %}
{% include 'includes/_libreriasdatatable.html' %}
{% endblock java %}