{% extends 'base.html' %}
{% block main %}
<div id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
            <ul class="breadcrumb .border-left-secondary">
                <li class="breadcrumb-item"><a class="home" href="/"><i class="icon-home"></i> {{INICIO}}</a></li>
                <li class="breadcrumb-item"><i></i><a class="home" href="">{{PANEL}}</a></li>
                <li class="breadcrumb-item"><i></i><b>{{lista}}</b></li>
            </ul>
            <div class="row">
                <div class="col-lg-9">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                           <h6 class="m-0 font-weight-bold text-secondary"> {{ titulo }}: Muestra un listado de todas las entradas, puede filtrar ingresando cualquier dato que contenga la tabla.
                           </h6>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3">
                    <div class="card mb-12 py-12">
                        <div class="card-body">
                            <a type="button" class="btn btn-primary btn-user btn-block" aria-expanded="true" href="">
                                NUEVO
                            </a>
                        </div>
                    </div> 
                </div>                
            </div>
                  
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                          <div class="table-responsive">
                            <table id="data_table" class="table table-bordered table-striped table-hover dataTable">
                              <thead class="sorting">
                              <tr>
                                  <th>ACCIONES</th>
                                  <th>TITULO</th>
                                  <th>CUERPO</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for objeto in object_list %}
                                <tr>
                                <td>
<!-- Botón de menú desplegable -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="true">
      
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="">Ver</a></li>        
      <li><a class="dropdown-item" href="">Modificar</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="" onclick="{{ELIMINAR}}">Eliminar</a></li>
    </ul>
  </div>
                                </td>
                                <td>{{ objeto.titulo }}</td>
                                <td>{{ objeto.cuerpo }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                              </table>
                        </div>
                        </div>
                   </div>
                </div>
            </div>

        </div>
    </div>
{% endblock main %}
{% block java %}
{% include "includes/_datatable.html" %}
{% include 'includes/_libreriasdatatable.html' %}
{% endblock java %}