{% extends 'base.html' %}
{% load static %}
{% block main %}
<div id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i>INICIO</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'local-home' %}"><i></i>{{ nivel_anterior }}</li></a>
                        <li class="breadcrumb-item"><i></i><b>{{titulo}}</b></li>
                    </ul>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                           <h6 class="m-0 font-weight text-secondary"> {{ titulo }}: {{ descripcion_pantalla }}
                           </h6>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                            <form method="POST" id="factura_form">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                                            CLIENTE:
                                                        </span>
                                                    </div>
                                                    <select class="form-class select2" name="states[]">
                                                        <option value="AL">Alabama</option>
                                                        <option value="WY">Wyoming</option>
                                                      </select>
                                                </div>                                  
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                                        TIPO FACTURA:
                                                    </span>
                                                </div>
                                                {{ form.tipo_factura }}
                                            </div>           
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                                        N° FACTURA:
                                                    </span>
                                                </div>
                                                {{ form.numero_factura }}
                                            </div>                                                
                                            
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                                        FECHA Y HORA:
                                                    </span>
                                                </div>
                                                {{ form.fechahora }}
                                            </div>   

                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                                        ES PRESUPUESTO:
                                                    </span>
                                                </div>
                                                {{ form.presupuesto }}
                                            </div>
                                        </form>
                                    </div>                                      
                                </div>
                        </div>                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">

        <!--NUEVO INGRESO CARD 3-->
        <div class="row clearfix" id="formulario_ingreso">
            <div class="col-lg-12 col-md-12" id="resultado-busqueda-factura">
            </div>
                <div class="col-lg-12">
                <div class="card">
                    <div class="header" id="" style="">
                        <b>DETALLE FACTURA</b>
                        <span class="arrow-left">&#9664;</span>
                    </div>
                    <div class="body" id="">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12" id="select_articulo">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" id="cod_articulo" name="cod_articulo" class="form-control select2-articulo">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                Cantidad:
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="cantidad3" value="1" enabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12" id="div_serial" style="display: none;">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                Serial:
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="serial">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-12">
                                    <button id="guardar_btn_agregaringreso" type="submit" class="btn btn-primary btn-block" style="width: auto;">AGREGAR PRODUCTO</button>
                                </div>                                 
                            </div>

                <!-- TABLA ULTIMOS INGRESOS -->
                <div class="row clearfix">
                <div class="col-lg-9">
                <div class="card">
                <div class="header">
                    <h2>Ultimos Ingresos</h2>
                </div>
                <div class="body">
                <div class="table-responsive table_middel">
                    <table class="table m-b-0" id="tabla_ingresos">
                        <thead class="sorting">
                            <tr>
                                <th>C#</th>
                                <th>Nombre Ingreso</th>
                                <th>Artículo</th>
                                <th>Cantidad</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for fields in dict_ing %}
                            <tr>
                                <td><span class="fields-id" data-id="{{ fields.id }}" onclick="copiarNumero(this)" style="cursor: pointer;">{{ fields.id }}</span></td>
                                <td>{{ fields.nombre }}</td>
                                <td>{{ fields.nombre_articulo }}</td>
                                <td>{{ fields.cantidad }}</td>
                                <td>{{ fields.fecha }}</td>
                                <td>{{ fields.acciones }}
                                    {% if fields.finalizado %}
                                    <button type="button" class="btn btn-danger js-sweetalert" disabled title="ELIMINAR"><i class="fa fa-trash-o"></i></button></td>
                                    {% else %}
                                    <button type="button" data-id="{{ fields.id_ingreso }}" data-articulo="{{ fields.id_articulo }}" class="btn btn-danger js-sweetalert" title="ELIMINAR"><i class="fa fa-trash-o"></i></button></td>
                                    {% endif %}
                                </tr>
                        {% endfor %}                          
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
<div>
</div>  
<div style="text-align: right;">
<button id="guardar_btn_finalizaringreso" type="submit" class="btn btn-secondary btn-block" style="width: auto; display: inline-block;">3-FINALIZAR INGRESO</button>
<hr>
</div>            

<!-- FIN - TABLA ULTIMOS INGRESOS-->
    </div>
</div>
</div>
</div>
<!--NUEVO INGRESO (END CARD 3)-->




                        </div>
                    </div> 
                </div>
            </div>



        </div>
        </div>


 
{% endblock main %}
{% block java %}

<script>
    $(function(){
        $(".select2").select2({
            theme: 'bootstrap4',
        });
    });
</script>     
{% include 'includes/_mayusculas.html' %}
{% endblock java %}