{% extends 'base.html' %}
{% block main %}

<div id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
            <ul class="breadcrumb .border-left-secondary">
                <li class="breadcrumb-item"><a class="home" href="/"><i class="icon-home"></i>INICIO</a></li>
                <li class="breadcrumb-item"><i></i>MI NEGOCIO</li>
            </ul>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                           <h6 class="m-0 font-weight text-secondary"> {{ titulo }}: aquí se muestran las gestiones disponibles para su local comercial.
                           </h6>
                        </div>
                    </div> 
                </div>               
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            {% if user.is_authenticated %}
                            <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'local-productos' %}">PRODUCTOS</a></h6>
                            {% else %}

                            {% endif %}
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" alt="...">
                                <p>Gestión de PhotoEvent para fiestas</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-3 col-lg-3">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            {% if user.is_authenticated %}
                            <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'local-home' %}">VENTAS</a></h6>
                            {% else %}
                            <h6 class="m-0 font-weight-bold text-primary"><a href="">VENTAS</a></h6>
                            {% endif %}
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" alt="...">
                                <p>Realizá una venta</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            {% if user.is_authenticated %}
                            <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'local-home' %}">STOCK</a></h6>
                            {% else %}
                            <h6 class="m-0 font-weight-bold text-primary"><a href="">STOCK</a></h6>
                            {% endif %}
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" alt="...">
                                <p>Controla tu stock</p>
                            </div>
                        </div>
                    </div>
                </div>                


            </div>            
    </div>
</div>
{% endblock main %}
{% block java %}
{% include "includes/_datatable.html" %}
{% endblock java %}