{% extends 'base.html' %}
{% block main %}
    <!-- Contenido principal -->
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">¡Bienvenido a mi sitio, soy SERENA!</h1>
            <p class="lead">Esta es una página de inicio de ejemplo utilizando Bootstrap.</p>
            <hr class="my-4">
            <p>Puedes personalizar este contenido según tus necesidades.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
        </div>
        {% if user.is_authenticated %}        
        <div class="jumbotron d-flex align-items-center justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8UZdkKQib34?si=fw_5X1Z_yb2J2T_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {% endif %}
    </div>
    {% endblock main %}