

  <script>
    $(document).ready(function(){
  //-------------------------------------DATA TABLE------------------
        var data_table = $('#data_table').DataTable( {
            autoWidth: true,
            dom: 'Bfrtip',
            buttons: [
            'copy', 'excel', 'pdf', 'print', 'csv', 'colvis', 'selectAll', 'selectNone', 'pageLength', 'search', 'reload'
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            pageLength: 50,
        });
    });
  </script>

  <script>
    $(document).ready(function(){
  //-------------------------------------DATA TABLE------------------
        var data_table = $('#data_table2').DataTable( {
            autoWidth: true,
            dom: 'Bfrtip',
            buttons: [
                'csv', 'print', 'copy'
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            pageLength: 50,
        });
    });
  </script>

  <script>
    $(document).ready(function(){
  //-------------------------------------DATA TABLE------------------
        var data_table = $('#data_table3').DataTable( {
            autoWidth: true,
            dom: 'Bfrtip',
            buttons: [
                'csv', 'print', 'copy'
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            pageLength: 50,
        });
    });
  </script>