<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>


  <script>
    $(document).ready(function(){
  //-------------------------------------DATA TABLE------------------
  new DataTable('#data_table', {
            autoWidth: true,
            dom: 'Bfrtip',
            buttons: [
            'copy',
            'excel',
            //'pdf',
            'print',
            'csv',
            'colvis',
            //'selectAll',
            //'selectNone',
            //'pageLength',
            'search',
            'reload',
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            pageLength: 50,         
        });
    });
  </script>
