        <!-- DATA TABLE-->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <!--DATA TABLE BOTONES-->
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <!-- ADAPTAR DATATABLES A OTROS TAMAÑOS-->
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>   

<!-- DataTables Buttons Flash JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.flash.min.js"></script>

<!-- DataTables Buttons HTML5 JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<!-- DataTables Buttons Print JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>

<!-- DataTables Buttons CSV JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.csv.min.js"></script>

<!-- DataTables Buttons Column visibility JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>

<!-- DataTables Buttons Select JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>

<!-- DataTables Buttons Page length JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.pageLength.min.js"></script>

<!-- DataTables Buttons Search JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.search.min.js"></script>

<!-- DataTables Buttons Reload JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.reload.min.js"></script>        
<!-- DataTables Buttons PDFMake JavaScript (si se usa) -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>