{% extends 'base.html' %}

{% block main %}
<div id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i>INICIO</a></li>
                        <li class="breadcrumb-item"><i></i><a href="{% url 'photoevent-lista' %}">PHOTOEVENT</a></li>
                        <li class="breadcrumb-item"><i></i><b>{{titulo}}</b></li>
                    </ul>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                           <h6 class="m-0 font-weight text-secondary"> {{ titulo }}: Muestra un listado de todas las entradas, puede filtrar ingresando cualquier dato que contenga la tabla.
                           </h6>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-left-info">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row clearfix">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                                        NOMBRE DEL EVENTO:
                                                    </span>
                                                </div>
                                                {{ form.nombre_evento }}
                                            </div>
                                        </div>                                                                           
                                    </div>                                    
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    FECHA DEL EVENTO:
                                                </span>
                                            </div>
                                             {{ form.fecha_evento }}
                                        </div>           
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    TIPO DE EVENTO:
                                                </span>
                                            </div>
                                             {{ form.cod_eventotipo }}
                                        </div>         
                                        
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    CLAVE DEL EVENTO:
                                                </span>
                                            </div>
                                             {{ form.codigo_evento }}
                                        </div>                                          
                                        
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    TIEMPO DE TRANSICIÓN ENTRE IMÁGENES:
                                                </span>
                                            </div>
                                             {{ form.foto_transicion }}
                                        </div>   

                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    TRANSICIÓN DEL EFECTO:
                                                </span>
                                            </div>
                                             {{ form.efecto_transicion }}
                                        </div>    
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    LINK:
                                                </span>
                                            </div>
                                             {{ form.link_wp }}
                                        </div>       
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    IMAGEN PREDETERMINADA:
                                                </span>
                                            </div>
                                             {{ form.foto_predeterminada }}
                                        </div>         
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    FOTO/VIDEO DE FONDO:
                                                </span>
                                            </div>
                                             {{ form.fondo_live }}
                                        </div>                                         

                                </div>
		                        <div class="col-lg-12 col-md-12" style="display: flex; flex-direction: column; align-items: end;">
		                            <button id="btnGuardar" type="submit" class="btn btn-primary btn-block" style="width: auto;">GUARDAR</button>
		                        </div>                                
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
        </div>
{% endblock main %}
{% block java %}
<!-- {% include 'includes/_mayusculas.html' %} -->
{% endblock java %}